@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-info-box {
        @apply w-96 h-56 bg-gray-100 flex items-center justify-start flex-col p-7 gap-4;
    }
}

.ticket-form-wrapper{
    max-width: min(1360px, 100vw);
}

.ticket-form-button{
    background-color: var(--buttons-color);
    color: white;
    margin-top: 10px;
    width: 160px;
    height: 43px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.ticket-form-card{
    width: calc(1360px / 4 - 15px - 14px);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* service card */
.ticket-form-card.selected{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}