@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-logo {
    position: absolute;
    padding: 0 0 0 10px;
    font-size: 40px;
}

.login-logo a {
    text-decoration: none;
}

.login-left {
    height: 100%;
    width: 60%;
    background-color: white;

    transition: width 0.5s ease;
}

.login-items-container {
    height: 100%;
    display: flex;
    gap:1.5rem;
}

.login-left h1 {
    font-size: 3.3rem;
    text-align: center;
}

.login-right h1 {
    font-size: 2.9rem;
    max-width: 490px;
}

.login-left .gap {
    gap: 1.3rem;
}

.login-socials {
    gap: 20px;
}

.login-socials .login-google-button>img {
    cursor: pointer;
}

/* line */
.login-line {
    position: relative;
    text-align: center;
    color: #868686;
}

.login-line::before,
.login-line::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    /* width: calc(50% - 40px); */
    border-top: 1px solid #c0c0c0;
    width: 130px;
    height: 1px;
}

.login-line::before {
    margin-right: 5px;
}

.login-line::after {
    margin-left: 5px;
}

.login-form {
    gap: 30px;
}

.login-form form>button,
.login-right-items button {
    background-color: var(--buttons-color);
    color: white;
    margin-top: 10px;
    width: 180px;
    height: 43px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.login-right-items button {
    margin-top: 30px;
}

.login-form form>button:hover,
.login-right-items button:hover {
    background-color: var(--buttons-color-hover);
}

.login-form form input {
    width: 400px;
    height: 38px;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.valid-input {
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(245, 245, 245);
}

.invalid-input {
    border: 1px solid rgb(254, 74, 74);
    background-color: rgb(255, 238, 238);
}

.login-error {
    min-height: 26px;
}

/* right */


.login-right {
    height: 100%;
    width: 40%;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(132, 24, 255) 100%);
    color: white;

    transition: width 0.6s ease;
}

.login-right-items {
    height: 100%;
    text-align: center;
}


/* animation */
.login-left.expanded {
    width: 70%;
}

.login-right.expanded {
    width: 60%;
}


/* responsive layout */
@media only screen and (max-width:680px) {
    .login-container {
        flex-direction: column;
    }

    .login-left {
        width: 100%;
        padding-bottom: 30px;
    }

    .login-right {
        width: 100%;
        padding-bottom: 50px;
    }

    .login-form form>input {
        width: 280px;
    }

    .login-left.expanded {
        width: 100%;
    }

    .login-right.expanded {
        width: 100%;
    }
}