.flex-container {
    display: flex;
    align-items: center;
}

.react-calendar {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.calendar-container{
    max-width: 600px;
}

.react-calendar .react-calendar__tile {
    width: 80px;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
}

.react-calendar .react-calendar__tile:hover {
    background-color: #f0f0f0;
}

.react-calendar .react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
}

.react-calendar .react-calendar__tile--now {
    background-color: #f0f0f0; 
}

.react-calendar .react-calendar__tile--rangeStart,
.react-calendar .react-calendar__tile--rangeEnd,
.react-calendar .react-calendar__tile--rangeNights {
    background-color: #007bff; 
    color: #fff;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-list {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.time-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.time-button {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.time-button:hover {
    background-color: #e0e0e0;
}

.ticket-form-button {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.ticket-form-button:hover {
    background-color: #333;
}

.time-button.reserved {
    background-color: rgb(143, 142, 142);
    cursor: not-allowed;
}

.time-button.selected {
    background-color: green;
    color: white;
}
