.services-page-image{

}
.small-service{
    width: 30%;
    position: relative; 
    font-size: 20px;
}
.big-service{
    width: 60%;
    position: relative; 
    font-size: 35px;
}
.small-image{
    object-fit: cover;
    height: 37vh;
    width: 100%;
}
.big-image{
    object-fit: cover;
    height: 37vh;
    width: 100%;
}
.image-text-services{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    padding: 5px;
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.services-wrapper{
    margin: 0 10% 0 10%;
    gap: 3%;
}